{
  "semi": false,
  "singleQuote": true,
  "printWidth": 100,
  "tabWidth": 2,
  "bracketSpacing": true,
  "jsxBracketSameLine": true,
  "vueIndentScriptAndStyle": true,
  "spaceBeforeFunctionParen": true,
  "arrowParens": "avoid",
  "files.associations": {
    "*.css": "postcss"
  }
}
